*{
    margin: 0;
    padding: 0;
}


body{
    display:flex;
    background:#bc6c25;
    justify-content:center;
    align-items: center;
    font-family:'Oswald';
}

.container{
    
    border:2px solid black;
    width:90%;
    max-width:600px;
    margin: 5vh auto;
    padding:5%;
    background: #dda15e;
    border-radius:20px;
    min-height:250px;

}

h1{
    text-align:center;
}

input{
    margin: 30px 170px 0 170px;
    text-align:center;
    height:50px;
    border-radius:10px;
    border:none;
    background-color:rgb(216, 212, 212);
    color:black;
}
#text-strength {
  margin-top: 10px;
  font-weight: bold;
}

#strength {
  color: rgb(151, 23, 23);
}

#Submit{
    
    background-color:black;
    color:white;
    margin:  20px 230px 20px 230px;
    padding: 20px;
    text-align:center;
    box-sizing: border-box;
    cursor:pointer;

}
